@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 246, 228); 
}

.architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
  }

header{
    background-image: url(metsä.jpg);
    background-position: center;
    background-size: cover;
}

header h1{
    font-size: 60px;
    text-align: center;
    color: rgb(12, 0, 0);
    padding: 100px 10px 100px 10px;
    margin: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(239, 251, 239);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #070000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(239, 251, 239);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(239, 251, 239);
    color: black;
  }

section {
    width: 90%;
    margin: auto;
    font-size: 18px;
    color: black;
}

section img{
    width: 100%;
}

.column {
    float: left;
    width: 50%;
  }
.column form {
    margin-top: 18px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

footer {
  background-color: rgb(239, 251, 239);
}

footer p {
  color: black;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 300px) {
    section {
        width: 75%;
    }
    header h1{
        padding: 200px 10px 200px 10px;
    }
}

@media only screen and (min-width: 1025px) {
    section {
        width: 55%;
    }
    header h1{
        font-size: 70px;
        padding: 200px 10px 200px 10px;
    }

    .column {
        float: left;
        width: 45%;
        padding-right: 5%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
}